extends layout
block content
    .login-panel
        img(id = 'login-icon' src='http://cdn.onlinewebfonts.com/svg/img_566357.png' style = 'max-height:40px')
        include includes/login-form
    .register-panel 
        img(id = 'register-icon' src='https://static9.depositphotos.com/1431107/1220/v/450/depositphotos_12204933-stock-illustration-register-vector-icon.jpg'
        style = 'max-height:40px')
        include includes/register-form
        