
<div class="row">
    <div classs= "col s12">
        <h4>Where you headed?</h4>
        <p>Input your point A, B, and C for your trip to see what you might find along the way:</p>
    </div>
</div>

<div class="row">
    <form action= "/trips" method= "POST" class="col s12">
      <div class="row center">

            <div class="input-field col s4">
            <input id="tripName" name = "tripName" type="text" class="validate" value="trip">
            <label for="tripName">Trip Name</label>
            <span class="helper-text" data-error="wrong" data-success="right">Give your trip a name</span>
            </div>

            <div class="input-field col s4">
            <input id="startPt" name = "startPt" type="text" class="validate" value="first">
            <label for="startPt">City A</label>
            <span class="helper-text" data-error="wrong" data-success="right">Your starting point</span>
            </div>

            <div class="input-field col s4">
            <input id="midPt" name = "midPt" type="text" class="validate" value="second">
            <label for="midPt">City B</label>
            <span class="helper-text" data-error="wrong" data-success="right">Somewhere inbetween</span>
            </div>
            
            <div class="input-field col s4">
            <input id="endPt" name = "endPt" type="text" class="validate" value="third">
            <label for="endPt">City C</label>
            <span class="helper-text" data-error="wrong" data-success="right">Your destination</span>
            </div>
        
            <div class="col s12 center">
                <button id="genRoute" class="waves-effect waves-teal btn-flat" type="submit">GO!</button>
            </div>
        </div>
    </form>
  </div>

    

<div id="mapid" class="map"></div>