<html>
    <head>
        <title>{{userName}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

        <div class="container row">
           <h1>Hi, Welcome to your Dashboard {{userName}}</h1>
        </div>
        <div id="mapid" class="map"></div>
    </body>
</html>