    
    <div class= "col s12">
        <h4>Welcome {{firstName}}</h4>
    </div>
    
    <div class="col 6">
        <h5>
            <a href= "/savedTrips">Go to saved trips</a>
        </h5>
        <h5>
            <a href= "trips">Create New Trip</a>
        </h5>
    </div>

    <div class="col s12">
         <div class="carousel carousel-slider">
            <img id="changePhoto" src="/images/rocky.jpg">
        </div>
    </div>
 

    
