
<div class="row">
    <div classs= "col s12">
        <h4>Where you headed?</h4>
        <p>Input your point A, B, and C for your trip to see what you might find along the way:</p>
    </div>
</div>


<div class="row">
    <form id="genRouteForm" class="col s12">
      <div class="row center">

            <div class="input-field col s4">
            <input id="startPt" type="text" class="validate" value="Chicago">
            <label for="startPt">Your starting point</label>
            <span class="helper-text" data-error="wrong" data-success="right">City A</span>
            </div>

            <div class="input-field col s4">
            <input id="midPt" type="text" class="validate" value="Nashville">
            <label for="midPt">Somewhere inbetween</label>
            <span class="helper-text" data-error="wrong" data-success="right">City B</span>
            </div>
            
            <div class="input-field col s4">
            <input id="endPt" type="text" class="validate" value="Destin">
            <label for="endPt">Your destination</label>
            <span class="helper-text" data-error="wrong" data-success="right">City C</span>
            </div>
        
            <div class="col s12 center">
                <button id="genRoute" class="waves-effect waves-teal btn-flat" type="submit">GO!</button>
            </div>
        </div>
    </form>
  </div>

    

<div id="mapid" class="map"></div>