
        <div class="col s12">
            
            <h4>Login to Trip Buddy</h4>
            <br>
            <br>
            <form action="/login" method="post">
                    <div>
                        <label>Username:</label>
                        <input type="text" name="username"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password"/>
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Log In"/>
                    </div>
            </form>
            <br>
            <br>
            <h5>Or <a href="signup">Sign Up</a> as a new user.</h5>                  
        </div>          
     