
            <div class="col s12 center">
                <form class = "newUserForm" action="/signup" method="post">
                    <div class="input-field col s6">
                        <label>First Name:</label>
                        <input type="text" id="firstName" name="firstName" />
                    </div>
                    <div class="input-field col s6">
                        <label>Last Name:</label>
                        <input type="text" id="lastName" name="lastName" />
                    </div>
                    <div class="input-field col s6">
                        <label>Username:</label>
                        <input type="text"id="userName"  name="userName" />
                    </div>
                    <div class="input-field col s6">
                        <label>Email:</label>
                        <input type="text" id="email" name="email"/>
                    </div>    
                    <div class="input-field col s6">
                        <label>Password:</label>
                        <input type="password" id="password" name="password"/>
                    </div>
                    <div class = "row">
                        <input class="waves-effect waves-teal btn-flat" id="saveUser" type ="submit" placeholder="Create new user">
                    </div>
                </form>                  
                   
        </div>