<h4>Add New User</h4>

<div class="row">
    <form class="newUserForm">
      <div class="row">
        <div class="input-field col s6">
            <input placeholder="first name" id="firstName" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <input placeholder="last name" id="lastName" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <input placeholder="email" id="email" type="email" class = "validate" value ="test@test.com"> <!--to change later-->
        </div>
        <div class="input-field col s6">
            <input placeholder="username" id="userName" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <input placeholder="password" id="password" type="password" class="validate">
        </div>
        <div class= "row">
            <input  class="waves-effect waves-teal btn-flat" id="saveUser" type ="submit" placeholder="Create new user">
        </div>
      </div>
    </form>
  </div>