
            <div class="col s12 center">
                <h4>Sign up to save trips:</h4>
                <p> Already signed up? Click <a href="login"> HERE</a> to Login</p>
                <br>
                <br>
                <form class = "newUserForm" action="/signup" method="post">
                    <div class=" col s6">
                        <input type="text" id="firstName" name="firstName" />
                        <label>First Name:</label>
                    </div>
                    <div class=" col s6">
                        <input type="text" id="lastName" name="lastName" />
                        <label>Last Name:</label>
                    </div>
                    <div class=" col s4">
                        <input type="text"id="userName"  name="userName" />
                        <label>Username:</label>
                    </div>
                    <div class=" col s4">
                        <input type="text" id="email" name="email"/>
                        <label>Email:</label>
                    </div>    
                    <div class=" col s4">
                        <input type="password" id="password" name="password"/>
                        <label>Password:</label>
                    </div>
                    <div class=" col s12 center">
                        <input class="waves-effect waves-teal btn-flat" id="saveUser" type ="submit" placeholder="Create new user">
                    </div>
                </form>   
                               
                   
        </div>