<h4 id="usersTitle">Current Users
        <a href="#" id="editBtn" class="waves-effect waves-teal btn-flat" type="submit">Edit Users</a>
</h4>
<div class="row">
    
    <div class="col s9"> 
          <ul class="userList">
            {{#each user}} 
            <li>
                <div class="fullName">
                <a href="#" value="{{firstName}} {{lastName}}"></a>   
                </div>
                <div class="userHandle">
                    {{userName}}
                </div>
            </li>
          {{/each }}
          </ul>
    </div>
</div>

<h4>Add New User</h4>

<div class="row">
    <form method = "POST"  class = "newUserForm">
      <div class="row">
        <div class="input-field col s6">
            <input placeholder="first name" id="firstName" type="text" class="validate"> 
        </div>
        <div class="input-field col s6">
            <input placeholder="last name" id="lastName" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <input placeholder="email" id="email" type="email" class = "validate"> 
        </div>
        <div class="input-field col s6">
            <input placeholder="username" id="userName" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <input placeholder="password" id="password" type="password" class="validate">
        </div>
        <div class= "row">
            <input  class="waves-effect waves-teal btn-flat" id="saveUser" type ="submit" placeholder="Create new user">
        </div>
      </div>
    </form>
  </div>
