body {
    background-color: white;
    display: flex;
    color: #343434;
    min-height: 100vh;
    flex-direction: column;
}

header{
    color: rgb(34, 58, 73);
}

button, footer, h3, h4, h5, h6{
    font-family: 'Sigmar One', cursive;
}

main, label, p {
    flex: 1 0 auto;  
    font-family: 'Open Sans', sans-serif;   
}

img{
    height: 100%;
    width: 100%;
}

span{
    font-family: 'Sigmar One', cursive;
}
.card{
    background-color:rgb(94, 165, 145);
    color: white;
}
.cityList{
    font-family: 'Open Sans', sans-serif;   
    font-size: 18px;
}

.increaseTop{
    margin-top: 20px;
}

.page-footer{
    background-color: rgb(94, 165, 115);
}

.userList{
    font-size: 16px;
}

.reduceBot{
    margin-bottom: 3px;
}

#bigNav {
    background-color: rgb(94, 165, 115);
    color: rgb(34, 58, 73);
    font-family: 'Sigmar One', cursive;
}

#editBtn{
    background-color: rgb(34, 58, 73);
    color:whitesmoke;    
}

#genRoute{
    background-color: rgb(34, 58, 73);
    color:whitesmoke; 
    font-family: 'Sigmar One', cursive;
    padding-left: 50px;
    padding-right:50px;
}

#mapid { 
    height: 500px; 
}

#usersTitle{
    display: flex;
    justify-content: space-between;
}

#saveTrip{
    background-color: rgb(34, 58, 73);
    color:whitesmoke;
    /* display: none; */
    font-family: 'Sigmar One', cursive;
}

#saveUser{
    background-color: rgb(34, 58, 73);
    color:whitesmoke;
    font-family: 'Sigmar One', cursive;
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  .modal-content {
    background-color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgb(34, 58, 73);
    width: 40%; 
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }