form(method='POST' action = '/register')
    table
        tr  
            td Username
            td 
                input(type='text' name = 'username')
        tr
            td Name
            td
                input(type='text' name = 'name')
            td Password
            td
                input(type='password' name = 'password')
        tr
            td Confirm Password
            td
                input(type='password' name = 'confirm-pass')
        tr  
            td Home City
            td 
                input(type='text' name = 'address')
        tr  
            td Email
            td 
                input(type='email' name = 'email')
        tr
            td
            td
                input(type='submit' value = 'Register')
                