<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

{{!-- materialize --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{{!-- local cssfile --}}
    <link rel="stylesheet" href="css/styles.css">

    <title>TripBuddy</title>

</head>
<body>
    
    {{{body}}}

{{!-- jquery --}}
    <script src="jquery-3.4.1.min.js"></script>
{{!-- local js file --}}
    <script src="js/index.js"></script>
</body>
</html>